.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balance-section {
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 20px;
  margin: 4vh;
}

.add-btn {
  width: 50%;
  height: 50px;
  font-size: 1.2rem;
  background-color: black;
  color: aliceblue;
  border: 2px ridge red;
  border-radius: 15px;
  cursor: pointer;
}

/* .expense-list {
  display: block;
  margin: auto;
} */

.expense-main{
  text-align: center;
  margin: auto;
  width: 95%;
}

.expense-card {
  margin: 10px;
  font-size: 0.8rem;
}

.expense {
  width: 95%;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 15px;
  align-items: center;
}

.expense-form{
  margin: 15px;
}
.name-input, .cost-input {
  width: 80%;
  height: 2rem;
  margin: 1vh;
  border-radius: 10px;
}

input[type="text"] {
  font-size:20px;
}

input[type="number"] {
  font-size:20px;
}

.name-prop {
  font-size: 1rem;
}

 .cost-prop{
   border: 2px solid black;
   border-radius: 15px;
   width: 6rem;
   height: 2.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
} 

.del-btn {
  margin: 5px;
   padding: 2px;
   height: 40px;
   width: 65px;
   font-size: 20px;
   background-color: black;
   color: aliceblue;
   border: 5px inset orange;
   border-radius: 10px;
   cursor: pointer;
}





